.icon {
  display: inline-block;
  color: var(--blue-10);
  align-items: center;
}
.icon svg {
  display: block;
}

.icon:hover {
  cursor: pointer;
}
.icon.has-background {
  padding: 0.5rem;
  border-radius: 50%;
  background-color: var(--white-30);
}
.icon.has-inherited-color {
  color: inherit;
}
