.subjects-group {
  font-size: var(--size-font-small);
}
.subjects-group__list {
  position: relative;
  list-style: none;
  padding-left: 1rem;
}

.subjects-group__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding-left: 1.5rem;
  padding-right: 0.9em;
  align-items: center;
  color: var(--gray-40);
  margin-bottom: 1rem;
}

.subjects-group__item--bullet-color-1.subjects-group__item::before {
  border-color: var(--orange-20);
}
.subjects-group__item--bullet-color-2.subjects-group__item::before {
  border-color: var(--violet-20);
}
.subjects-group__item--bullet-color-3.subjects-group__item::before {
  border-color: var(--yellow-20);
}
.subjects-group__item--bullet-color-4.subjects-group__item::before {
  border-color: var(--blue-20);
}
.subjects-group__item--bullet-color-5.subjects-group__item::before {
  border-color: var(--cyan-20);
}
.subjects-group__item--bullet-color-6.subjects-group__item::before {
  border-color: var(--red-20);
}
.subjects-group__item--bullet-color-7.subjects-group__item::before {
  border-color: var(--green-20);
}
.subjects-group__item--bullet-color-8.subjects-group__item::before {
  border-color: var(--dark-green-20);
}

.subjects-group__text {
  font-weight: 500;
  margin: 0;
}
.subjects-group__item::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  border: 3px solid black;
}
