.careers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.careers-list {
  overflow: hidden;
  list-style: none;
  padding-left: 0;
  font-size: var(--size-font-small);
}
.careers-list__item {
  margin-bottom: 1rem;
  color: var(--black-10);
}
