.sidebar {
  max-height: 100vh;
  grid-area: sidebar;
  padding: 2rem 1.2rem;
  background-color: var(--white-10);
  overflow-y: auto;
}
.sidebar::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: var(--white-10);
}
.sidebar::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: var(--bg-scrollbar);
}
.sidebar::-webkit-scrollbar-track {
  border: 1px solid var(--border-color);
  border-radius: 10px;
  background-color: #f5f5f5;
  background-color: var(--white-10);
}
