.item-accordion__header {
  position: relative;
  border-bottom: 1px solid var(--gray-10);
  user-select: none;
}
.item-accordion__header:hover.item-accordion__header::after,
.item-accordion__header:hover.item-accordion__header::before,
.item-accordion__header.is-active.item-accordion__header::before,
.item-accordion__header.is-active.item-accordion__header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 25px;
  margin: auto;
  bottom: 0;
  width: 1px;
  height: 12px;
  background-color: var(--black-10);
  transition: transform ease 0.3s;
}
.item-accordion__header::after {
  transform: rotate(90deg);
}
.item-accordion__header::before {
  transform: rotate(180deg);
}
.is-active.item-accordion__header::after {
  transform: rotate(45deg);
}
.is-active.item-accordion__header::before {
  transform: rotate(135deg);
}
.item-accordion__header:hover,
.item-accordion__header.is-active {
  background-color: var(--white-20);
}
.item-accordion__text {
  margin: 0;
  padding: 0.5rem 0;
}
