.l-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-subjects__icon {
  color: var(--blue-10);
  transform: rotate(180deg);
  transition: transform ease var(--base-time-transition);
}
.isActive {
  transform: rotate(0deg);
}
.header-subjects:hover {
  cursor: pointer;
}
