.subjects {
  width: 100%;
}

.subjects__content {
}
.subjects__text {
  font-size: var(--size-font-small);
  margin: 5px 0;
  text-align: right;
}
.subjects__link {
  font-weight: 500;
  color: var(--blue-20);
}
.subjects__link:hover {
  cursor: pointer;
}
