.accordion__header {
  font-weight: 500;
  letter-spacing: 1px;
  position: relative;
  border-left: 3px solid var(--blue-20);
  padding-left: 10px;
  border-bottom: 1px solid var(--border-color);
  padding-right: 1rem;
  user-select: none;
}
.accordion__header:hover.accordion__header::after,
.accordion__header:hover.accordion__header::before,
.accordion__header.is-active.accordion__header::before,
.accordion__header.is-active.accordion__header::after {
  content: '';
  position: absolute;
  top: 0;
  right: 25px;
  margin: auto;
  bottom: 0;
  width: 2px;
  height: 12px;
  background-color: var(--blue-20);
  transition: transform ease 0.3s;
}
.accordion__header::after {
  transform: rotate(90deg);
}
.accordion__header::before {
  transform: rotate(180deg);
}
.is-active.accordion__header::after {
  transform: rotate(45deg);
}
.is-active.accordion__header::before {
  transform: rotate(135deg);
}
.accordion__header:hover,
.accordion__header.is-active {
  background-color: var(--color-hover-primary);
}
.accordion__text {
  margin: 0;
  padding: 0.5rem 0;
}
