.l-flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-section {
  width: 100%;
  letter-spacing: 1px;
  border-bottom: 1px solid var(--border-color);
  border-left: 3px solid var(--blue-20);
  padding: 0 10px;
  margin-bottom: 10px;
  color: var(--blue-20);
}
.header-section.is-clicked {
  user-select: none;
}
.header-section.is-clicked:hover {
  cursor: pointer;
}
.header-section__icon {
  transform: rotate(180deg);
  transition: transform ease var(--base-time-transition);
}

.tab-header__icon.is-active {
  transform: rotate(0deg);
}
