.card-calendar {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-top: 1px solid var(--gray-10);
  border-left: 1px solid var(--gray-10);
  text-align: center;
}

.card-calendar:nth-of-type(1) {
  border-top-left-radius: 1rem;
}
.card-calendar.not-show {
  display: none;
}

.card-calendar--color-1 {
  background-color: #f5eafd;
  border-left: 3px solid #b86df7;
  color: #b86df7;
}
.card-calendar--color-2 {
  background-color: var(--violet-10);
  border-left: 3px solid var(--violet-20);
  color: var(--violet-20);
}
.card-calendar--color-3 {
  background-color: var(--yellow-10);
  border-left: 3px solid var(--yellow-20);
  color: var(--yellow-20);
}
.card-calendar--color-4 {
  background-color: var(--blue-base-10);
  border-left: 3px solid var(--blue-20);
  color: var(--blue-20);
}
.card-calendar--color-5 {
  background-color: var(--cyan-10);
  border-left: 3px solid var(--cyan-20);
  color: var(--cyan-20);
}
.card-calendar--color-6 {
  background-color: var(--blue-base-20);
  border-left: 3px solid var(--blue-10);
  color: var(--blue-10);
}
.card-calendar--color-7 {
  background-color: #fff3e0;
  border-left: 3px solid #ffc263;
  color: #ffc263;
}
.card-calendar--color-8 {
  background-color: #e0f7fa;
}

.card-calendar--color-1,
.card-calendar--color-2,
.card-calendar--color-3,
.card-calendar--color-4,
.card-calendar--color-5,
.card-calendar--color-6,
.card-calendar--color-7,
.card-calendar--color-8 {
  transition: transform linear 0.2s;
  font-weight: bold;
}
.card-calendar--color-1:hover {
}
.card-calendar--color-2:hover {
  background-color: var(--violet-20);
  color: var(--white-10);
}
.card-calendar--color-3:hover {
  background-color: var(--yellow-20);
  color: var(--white-10);
}
.card-calendar--color-4:hover {
  background-color: var(--blue-20);
  color: var(--white-10);
}
.card-calendar--color-5:hover {
  background-color: var(--cyan-20);
  color: var(--white-10);
}
.card-calendar--color-6:hover {
  background-color: var(--blue-10);
  color: var(--white-10);
}
.card-calendar--color-7:hover {
  background-color: var(--violet-20);
  color: var(--white-10);
}
.card-calendar--color-8:hover {
}
.card-calendar--color-1:hover,
.card-calendar--color-2:hover,
.card-calendar--color-3:hover,
.card-calendar--color-4:hover,
.card-calendar--color-5:hover,
.card-calendar--color-6:hover,
.card-calendar--color-7:hover,
.card-calendar--color-8:hover {
  border-top: none;
  border-right: none;
  border-bottom: none;
  transform: scale(1.1);
}
