html {
    box-sizing: border-box;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 15px;
}
body,
button,
input,
textarea {
    font-family: "Jost", sans-serif;
}
