html {
  box-sizing: border-box;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

body {
  margin: 0;
  font-size: 15px;
  accent-color: var(--blue-10);
}
:root {
  --base-time-transition: 0.3s;
}
body,
button,
input,
textarea {
  font-family: 'Jost', sans-serif;
}
