:root {
  --body-bg-color: #e4e6f5;
  --border-color: #e5e4e9;
  --theme-bg-color: #fff;
  --body-color: #1b1f31;
  --main-color: #7a7e9d;
  --main-light-color: #a1a4b9;
  --title-color: #979dc3;
  --body-font: 'Jost', sans-serif;
  --button-bg-color: #eaeefc;
  --button-color: #4d76fd;
  --unselected-mail: #f1f2f7;
  --calendar-border-color: #cbcfe0;
  --main-container-bg: #f0f0f7;

  --white-10: #fff;
  --white-20: #f1f2f7;
  --white-30: #eaeefc;
  --white-40: #f0f0f7;
  --white-50: #e4e6f5;
  --gray-10: #cbcfe0;
  --gray-20: #a1a4b9;
  --gray-30: #979dc3;
  --gray-40: #7a7e9d;
  --blue-base-10: #eeeffd;
  --blue-base-20: #eceff1;
  --blue-10: #4d76fd;
  --blue-20: #43538c;
  --black-10: #1b1f31;
  --violet-10: #fee9ec;
  --violet-20: #ff647a;
  --cyan-10: #e8f5e9;
  --cyan-20: #56ccf2;
  --yellow-10: #fff3e0;
  --yellow-20: #ffc263;
}
