:root {
  --body-bg-color: #e4e6f5;
  --border-color: #e5e4e9;
  --theme-bg-color: #fff;
  --body-color: #1b1f31;
  --main-color: #7a7e9d;
  --main-light-color: #a1a4b9;
  --title-color: #979dc3;
  --body-font: 'Jost', sans-serif;
  --button-bg-color: #eaeefc;
  --button-color: #4d76fd;
  --unselected-mail: #f1f2f7;
  --calendar-border-color: #cbcfe0;
  --main-container-bg: #f0f0f7;
  --color-hover-primary: rgba(77, 118, 253, 0.1);
  --bg-scrollbar: #cbcfe0;
  --bg-dark-scrollbar: #717790;
  --border-color-card: #cbcfe0;

  --white-10: #fff;
  --white-20: #f1f2f7;
  --white-30: #eaeefc;
  --white-40: #f0f0f7;
  --white-50: #e4e6f5;
  --gray-10: #cbcfe0;
  --gray-20: #a1a4b9;
  --gray-30: #979dc3;
  --gray-40: #7a7e9d;
  --blue-10: rgba(77, 118, 253, 0.15);
  --blue-20: #4d76fd;
  --black-10: #1b1f31;
  --violet-10: rgba(184, 109, 247, 0.15);
  --violet-20: #b86df7;
  --cyan-10: rgba(86, 204, 242, 0.15);
  --cyan-20: #56ccf2;
  --yellow-10: rgba(255, 194, 99, 0.15);
  --yellow-20: rgba(255, 194, 99, 1);
  --red-10: rgba(238, 66, 66, 0.15);
  --red-20: rgba(238, 66, 66, 1);
  --green-10: rgba(111, 207, 151, 0.15);
  --green-20: rgba(111, 207, 151, 1);
  --dark-green-10: rgba(67, 107, 89, 0.15);
  --dark-green-20: rgb(67, 107, 89);
  --orange-10: rgba(242, 153, 74, 0.15);
  --orange-20: #f2994a;
}
