:root {
    --size-padding-base: 1.2rem;
    --size-font-very-small: 10px;
    --size-font-small: 12px;
    --size-font-normal: 13px;
    --size-font-medium: 15px;
    --size-font-big: 17px;

    --size-heading-small: 14px;
    --size-heading-medium: 15px;
    --size-heading-large: 17px;

    --size-block-calendar-min-width: 95px;
    --size-block-calendar-min-height: 100px;

    --size-block-calendar-max-width: 195px;
    --size-block-calendar-max-height: 200px;
}
